{% extends "base.html.twig" %}

{% block body %}

<section>
    <div class="container" style="background: url(img/404.jpg); background-size: cover; background-position: center center; height: 600px !important;">
        <div class="flex-direction padding-404">
            <div>
                <h1 class="text-orange">404</h1>
            </div>
            <div>
                <h4 class="text-orange">La page que vous demandez n'existe pas</h4>
            </div>
            <div>
                <a href="/P5-Blog/" class="text-orange hero-link">Retour à la page d'accueil</a>
            </div>
        </div>
    </div>
</section>



{% endblock %}

{% block footer %}{% endblock %}

