{% extends "baseAdmin.html.twig" %}

{% block body %}

<section>
    <div class="container margin-100">
        <div class="row">
            <h1 class="text-orange d-flex flex-center latest-posts-width-100">Bienvenue sur l'interface d'administration de votre blog</h1>
            <h3 class="margin-100 d-flex flex-center latest-posts-width-100">Vous souhaitez :</h3>
        </div>
        <div class="row flex-center">
            <div class="latest-posts-width-100 space-evenly margin-100 row d-flex">
                <div class="col-lg-4">
                    <button type="button" class="latest-posts-width-100 btn btn-outline-secondary"><a class="btn-outline-secondary" href="?p=adminPosts">Gérer les articles</a></button>
                </div>
                <div class="col-lg-4">
                    <button type="button" class="latest-posts-width-100 btn btn-outline-secondary"><a class="btn-outline-secondary" href="?p=adminComments">Gérer les commentaires</a></button>
                </div>
                <div class="col-lg-4">
                    <button type="button" class="latest-posts-width-100 btn btn-outline-secondary"><a class="btn-outline-secondary" href="?p=adminHome">Personnaliser la page d'accueil</a></button>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
