{% extends "baseAdmin.html.twig" %}

{% block body %}

    <section class="divider newsletter">
        <div class="container">
            <div class="row flex-center">
                <div class="col-md-7">
                    <h1 class="center text-orange">Ecrire un nouvel article</h1>
                    <div class="form-holder margin-100 flex-center">
                        <form id="addPostForm" class="select-width-100" action="/P5-Blog/" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="token" value="{{ token }}">
                            <input type="hidden" name="type" value="add_post">
                            <input type="hidden" id="status" name="status" value="brouillon">
                            <input type="hidden" name="idUser" value="2">
                            <div class="form-group flex-direction">
                                <label for="category" class="label-form text-orange">
                                    Catégorie de l'article :
                                </label>
                                <select id="category" name="category" class="select select-width-100">
                                    <option value="" disabled selected>- Choisissez une catégorie -</option>
                                    <option value="Mes Astuces">Mes Astuces</option>
                                    <option value="Ma Formation">Ma Formation</option>
                                    <option value="Mes recherches">Mes recherches</option>
                                </select>
                                <label for="title" class="label-form text-orange">
                                    Titre de l'article :
                                </label>
                                <input class="select-width-100" type="text" name="title" id="title">
                                <label for="header" class="label-form text-orange">
                                    Header de l'article :
                                </label>
                                <input class="select-width-100" type="text" name="header" id="header">
                                <label for="img" class="label-form text-orange">
                                    Image de l'article :
                                </label>
                                <input class="select-width-100" type="file" name="img" id="img"/>
                                <label for="content" class="label-form text-orange">
                                    Contenu de l'article :
                                </label>
                                <textarea class="textarea select-width-100" name="content" id="content"></textarea>
                            </div>
                            <div class="width-100 space-evenly margin-30">
                                <button type="submit" class="submit">Sauvegarder comme brouillon</button>
                                <button id="btnOnline" class="submit">Mettre l'article en ligne</button>
                            </div>
                            <div class="width-100  flex-center">
                                <button id="resetAddPost" type="reset" class="submit">Annuler</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
{% block script %}
    <script>
        $(document).ready(function() {
            $('#btnOnline').click(function(){
                $('#status').val('en ligne')
                $('#addPostForm').submit()
                return false
            });
            $("#resetAddPost").click(function() {
                window.history.back()
            });
        });
    </script>
{% endblock %}