<div class="widget categories">
    <header>
        <h3 class="h6">Catégories</h3>
    </header>
    {% for category in categories %}

    <div class="item d-flex justify-content-between"><a href="/P5-blog/public/?p=post&action=getPostsByCategory&categorie={{ category.categoryName }}">{{ category.categoryName }}</a><span>{{ category.nbPosts }}</span></div>

    {% endfor %}
</div>
