<div class="widget categories">
    <header>
        <h3 class="h6">Catégories</h3>
    </header>
    {% for category in categories %}

        <div class="item d-flex justify-content-between"><a
                    href="/P5-blog/posts/{{ category.categoryName|replace({' ': '_'}) }}/1">{{ category.categoryName }}</a><span>{{ category.nbPosts }}</span>
        </div>

    {% endfor %}
</div>
