{% extends "baseAdmin.html.twig" %}

{% block body %}

    <section class="divider newsletter">

        <div>

            <h1 class="center text-orange">Connectez-vous</h1>

            <div class="container">

                <div class="row">

                    <div class="col-md-6">
                        <form id="AddUserForm" class="select-width-100" action="/P5-Blog/" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="token" value="{{ token }}">
                            <input type="hidden" name="type" value="add_user">
                            <input type="hidden" name="isAdmin" value="0">
                            <div class="form-holder margin-100">
                                <div class="form-group">
                                    <h4 class="text-gray">Créer un compte</h4>
                                    <label for="firstname" class="text-orange">
                                        Votre prénom :
                                    </label>
                                    <input class="select-width-100" type="text" name="firstname" id="firstname">
                                    <label for="lastname" class="text-orange">
                                        Votre nom :
                                    </label>
                                    <input class="select-width-100" type="text" name="lastname" id="lastname">
                                    <label for="avatar" class="text-orange">
                                        Votre avatar :
                                    </label>
                                    <input class="select-width-100 height-60" type="file" name="avatar" id="avatar">
                                    <label for="email" class="text-orange">
                                        Votre email :
                                    </label>
                                    <input class="select-width-100" type="email" name="email" id="email">
                                    <label for="username" class="text-orange">
                                        Votre identifiant :
                                    </label>
                                    <input class="select-width-100" type="text" name="username" id="username">
                                    <label for="password" class="text-orange">
                                        Votre mot de passe :
                                    </label>
                                    <input class="select-width-100" type="password" name="password" id="password">
                                    <label for="passwordConfirmed" class="text-orange">
                                        Confirmez votre mot de passe :
                                    </label>
                                    <input class="select-width-100" type="password" name="passwordConfirmed" id="passwordConfirmed">
                                    <div class="margin-100 width-100 flex-center space-evenly">
                                        <button type="submit" class="submit">S'inscrire</button>
                                        <button type="reset" class="submit" id="resetSignUp">Annuler</button>

                                    </div>
                                </div>
                            </div>
                        </form>
                        {% if userExist %}
                        <div class="modal fade" id="alreadyKnown" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title text-gray" id="exampleModalCenterTitle">Utilisateur déjà enregistré</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body text-gray">
                                        <p>Un utilisateur existe déjà avec les informations saisies</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>

                    <div class="col-md-6 margin-100">
                        <form>
                            <h4 class="text-gray">Déjà inscrit</h4>
                            <label for="username" class="text-orange">
                                Votre identifiant :
                            </label>
                            <input class="select-width-100" type="text" name="username" id="username">
                            <label for="password" class="text-orange">
                                Votre mot de passe :
                            </label>
                            <input class="select-width-100" type="password" name="password" id="password">
                            <div class="margin-100 margin-30 width-100 flex-center space-evenly">
                                <button type="submit" class="submit">Se connecter</button>
                                <button type="reset" class="submit" id="resetSignIn">Annuler</button>
                            </div>
                            <div class="center">
                                <a href="#">Mot de passe oublié</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}


{% block script %}
    <script>
        $(document).ready(function(){
            $("#AddUserForm").submit(function(){
                if ($("#password").val() != $("#passwordConfirmed").val()) {
                    document.getElementById("passwordConfirmed").setCustomValidity("Les mots de passe renseignés ne sont pas identiques")
                    return false
                }
                return true
            });
            $("#resetSignUp").click(function() {
                window.history.back()
            });
            if ($('#alreadyKnown')) {
                $('#alreadyKnown').modal('show')
            }
            $("#resetSignIn").click(function() {
                window.history.back()
            });
        });
    </script>
{% endblock %}