{% extends "baseAdmin.html.twig" %}

{% block body %}

    <section>

        <div class="divider newsletter">

            <h1 class="center text-orange">Connectez-vous</h1>

            <div class="container">

                <div class="row">

                    <div class="col-md-6">
                        <form id="AddUserForm" class="select-width-100" action="/P5-Blog/" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="token" value="{{ token }}">
                            <input type="hidden" name="type" value="add_user">
                            <input type="hidden" name="isAdmin" value="0">
                            <div class="form-holder margin-100">
                                <div class="form-group">
                                    <h4 class="text-gray">Créer un compte</h4>
                                    <label for="firstname" class="text-orange">
                                        Votre prénom :
                                    </label>
                                    <input class="select-width-100" type="text" name="firstname" id="firstname">
                                    <label for="lastname" class="text-orange">
                                        Votre nom :
                                    </label>
                                    <input class="select-width-100" type="text" name="lastname" id="lastname">
                                    <label for="avatar" class="text-orange">
                                        Votre avatar :
                                    </label>
                                    <input class="select-width-100 height-60" type="file" name="avatar" id="avatar">
                                    <label for="email" class="text-orange">
                                        Votre email :
                                    </label>
                                    <input class="select-width-100" type="email" name="email" id="email">
                                    <label for="username" class="text-orange">
                                        Votre identifiant :
                                    </label>
                                    <input class="select-width-100" type="text" name="username" id="username">
                                    <label for="password" class="text-orange">
                                        Votre mot de passe :
                                    </label>
                                    <input class="select-width-100" type="password" name="password" id="password">
                                    <label for="passwordConfirmed" class="text-orange">
                                        Confirmez votre mot de passe :
                                    </label>
                                    <input class="select-width-100" type="password" name="passwordConfirmed" id="passwordConfirmed">
                                    <div class="margin-100 width-100 flex-center">
                                        <button type="submit" class="submit">S'inscrire</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="col-md-6 margin-100">
                        <form>
                            <h4 class="text-gray">Déjà inscrit</h4>
                            <label for="username" class="text-orange">
                                Votre identifiant :
                            </label>
                            <input class="select-width-100" type="text" name="username" id="username">
                            <label for="password" class="text-orange">
                                Votre mot de passe :
                            </label>
                            <input class="select-width-100" type="password" name="password" id="password">
                            <div class="margin-100 width-100 flex-center">
                                <button type="submit" class="submit">Se connecter</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
