<header class="header">
    <nav class="navbar navbar-expand-lg">
        <div class="search-area">
            <div class="search-area-inner d-flex align-items-center justify-content-center">
                <div class="close-btn"><i class="icon-close"></i></div>
                <div class="row d-flex justify-content-center">
                    <div class="col-md-8">
                        <form action="#">
                            <div class="form-group">
                                <input type="search" name="search" id="search" placeholder="What are you looking for?">
                                <button type="submit" class="submit"><i class="icon-search-1"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <!-- Navbar Brand -->
            <div class="navbar-header d-flex align-items-center justify-content-between">
                <!-- Navbar Brand --><a href="/" class="navbar-brand">{{ header.blogTitle }}</a>
                <!-- Toggle Button-->
                <button type="button" data-toggle="collapse" data-target="#navbarcollapse" aria-controls="navbarcollapse" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span></span><span></span><span></span></button>
            </div>
            <!-- Navbar Menu -->
            <div id="navbarcollapse" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item"><a id="homeLink" href="/P5-Blog/" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item"><a href="?p=post" class="nav-link">Blog</a>
                    </li>
                    {% if isAdmin %}
                    <li class="nav-item dropdown"><a href="?p=adminHome" class="nav-link dropdown-toggle" id="adminDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Administration</a>
                        <div class="dropdown-menu" aria-labelledby="adminDropdown">
                            <a class="dropdown-item" href="?p=adminPosts">Gérer les articles</a>
                            <a class="dropdown-item" href="?p=adminComments">Gérer les commentaires</a>
                            <a class="dropdown-item" href="?p=adminPerso">Personnaliser la page d'accueil</a>
                        </div>
                    </li>
                    {% endif %}
                    {% if logged %}
                        <li class="nav-item"><a href="?p=logout" class="nav-link">Se déconnecter</a>
                        </li>
                        <li class="navbar-brand text-gray">Bienvenue {{ footer.Firstname }} !</li>
                    {% else %}
                        <li class="nav-item"><a href="?p=connection" class="nav-link">Se connecter</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>


