<div class="widget latest-posts">
    <header>
        <h3 class="h6">Derniers Articles Commentés</h3>
    </header>
    {% for latestCommentedPost in latestCommentedPosts %}
            <div class="blog-post">
                <a class="latest-posts-width-100" href="#">
                    <div class="item d-flex align-items-center latest-posts-width-100">
                        <div class="image"><img src="img/{{ latestCommentedPost.img }}" alt="..." class="img-fluid"></div>
                        <div class="title latest-posts-width-100"><strong>{{ latestCommentedPost.title }}</strong>
                            <div class="d-flex align-items-center latest-posts-width-100  justify-content-between">
                                <div class="date"> {{ latestCommentedPost.creationDate | date(U)}}</div>
                                <div class="comments">
                                    <i class="icon-comment"></i>
                                    {{ latestCommentedPost.nbComments }}
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

    {% endfor %}
</div>
